@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("https://www.dropbox.com/scl/fi/run0t6sewvjvdu0tku74w/background.jpg?rlkey=kwdm6ubqiayckfm0z18j77bi4&raw=1");
    font-family: Roboto;
    padding-bottom: 40px;
    padding-top: 1px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    color: #fff;
}

.container {
    width: 70%;
    margin: auto;
    background-color:rgba(24, 138, 204, 0.9);
    padding: 40px;
    margin-top: 8%;
    padding-top: 10px;
    border-radius: 8px;
}

.heading, .secondary-heading {
    text-align: center;
}

label {
    display: block;
    margin: 0.5rem 0;
}

.text-input {
    width: 95%;
    padding: 8px;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
}

.text-input:focus {
    outline: none;
}

.select-input {
    width: 100%;
    box-sizing: border-box;
    color: gray;
}

.form-group {
    margin-bottom: 40px;
}

textarea {
    padding: 8px;
    width: 95%;
    border-radius: 5px;
    font-family: Roboto;
    height: 50px;
    margin-bottom: 20px;
    border: none;
}

textarea:focus {
    outline: none;
    border: none;
}

button {
    background-color:rgb(13, 75, 110);
    border: none;
    padding: 10px;
    color: #fff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color:rgb(14, 86, 128)
}